body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	background-image: url(../images/whiteoaktrees_bkgrd.jpg);
}
.oneColFixCtr #container {
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
}
.oneColFixCtr #mainContent {
	padding: 0 20px;
}
#nav ul {
	display: inline;
	padding: 5px;
	margin: 5px;
}
#nav {
	background-color: #CBE3B0;
	margin: 0px;
	padding: 5px;
	text-align: center;
}
#nav a {
	text-decoration: none;
	color: #000000;
	font-size: 90%;
}
#nav a:hover {
	color: #CC6600;
	font-size: 90%;
}
#nav li {
	display: inline;
	margin: 0px;
	padding-top: 5px;
	padding-right: 45px;
	padding-bottom: 5px;
	padding-left: 45px;
}
#leftbox2 {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#Slogan {
	padding: 0px;
	font-size: 18px;
}
#rightbox {
	background-color: #E8FAC3;
	padding: 10px;
	margin-left: 10px;
}
#footer {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	background-color: #F0F0F0;
	clear: both;
}
.biztype {
	clear: both;
	border: 1px solid #999999;
	margin: 10px;
	padding: 10px;
}
#Services {
	background-color: #F0F0F0;
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.style8 {font-size: 80%}
.style9 {font-weight: bold}
.style10 {font-size: 90%}
.style11 {font-size: medium}
.style12 {font-size: small; }
.imgleft {
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.imright {
	float: right;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#WaterWorld {
	clear: both;
}
#Flashwebsite {
	clear: both;
}
.style13 {font-size: small; font-weight: bold; }