<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>
<body>
    {% if title %}
    <h1>{{title}}</h1>
    {% else %}
    <h1>Character Names</h1>
    {% endif %}
    <nav>
        <a href= '/index'> Home </a>
        <a href= '/genPage'> Generator </a>
        <a href= '/charAdder'> Property Adder </a> 
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>