html {
    background-color: #FDD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}
h1 {
    font-size: 200%;
}
nav a {
    display: inline-block;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    color: #600;
    text-decoration: none;
    background-color: white;
    width: 15ch;
    text-align: center;
    background-clip: border-box;
    line-height: 2em;
    border-radius: 5px;
}