{% extends "base.html" %} {% block content %}
<div id="Classes">
    <p>What makes our classes different? Read about about our Portable Classroom below! </p>

    <h3>Current offerings: </h3>

    <blockquote>
        <h4 align="right"><img src="static/images/AnselmoComputing.jpg" alt="A computing" width="300" height="246" /></h4>
        <h4>Classes for professionals, artists,<br /> &amp; small businesses </h4>
        <ul>
            <li><a href="WebsiteDesignClass.html">Website Design</a> with Dreamweaver</li>
            <li>Microsoft Office (Word, Excel, Powerpoint)</li>
            <li>Low cost website design & maintenance</li>
        </ul>
        <h4 align="left">Classes for the retired community</h4>
        <ul>
            <li>Introduction to <a href="SeniorsIntroClass.pdf">Email, Web Browsing, and Digital Photography</a></li>
            <li>Digital Photograpy</li>
            <li>Introduction to Webhosting</li>
        </ul>
        <h4>Individualized Instruction<img src="static/images/beachclass.jpg" alt="beachclass" width="242" height="166" /></h4>
        <ul>
            <li><a href="classesbrochure2.pdf">Custom classes</a> to meet your specific needs</li>
            <li>Individual Instruction</li>
        </ul>
    </blockquote>

    <h3>Portable Classroom</h3>
    <blockquote>
        <p>Our mobile classroom turns any room into a computer lab.</p>
        <ul>
            <li>Six laptops each accommodating two students</li>
            <li>Networked together</li>
            <li>Video projector for presenting ideas</li>
            <li>Light-weight whiteboards for examples &amp; exercises </li>
        </ul>
    </blockquote>
</div>
<!-- end #container -->
{% endblock %}