{% extends "base.html" %} {% block content %}
<div id="mainContent">
    <table>
        <td>
            <div id="leftbox2">


                <p><strong>Innovative solutions using</strong> </p>
                <ul class="style8">
                    <li>Digital Photography </li>
                    <li>MultiMedia</li>
                    <li>Website Design</li>
                    <li>Backend Databases</li>
                    <li>Improving Data Processing Efficiency </li>
                </ul>
                <p class="style8"><strong>Customized Classes </strong></p>
                <ul class="style8">
                    <li>Microsoft Office Tools</li>
                    <li>Dreamweaver</li>
                </ul>
                <h4 class="style8">Classes for Seniors</h4>
                <ul>
                    <li class="style8">Introduction to Email, Web Browsing, and Digital Photography</li>
                    <li class="style8">Digital Photograpy</li>
                    <li class="style8">Individual Instruction</li>
                </ul>
            </div>
            <!--End Leftbox2 -->
        </td>

        <td>
            <div id="rightbox">


                <div id="photo1">
                    <div><img src="static/images/collage3.gif" alt="collage" width="363" height="363" /></div>
                </div>

                <div id="Slogan">
                    <p align="center" class="style7">Combining solutions and instruction<br /> to meet your specific needs. </p>
                </div>
            </div>
        </td>
        <tr>
            <td height="10">
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>
    </table>

    <!-- end #mainContent -->
</div>
<!-- end #container -->
{% endblock %}