{% extends "base.html" %} {% block content%}

<div id="Services">

    <h2> Business Solutions Portfolio </h2>

    <div class="biztype" id="CHPSP"><img src="static/images/Audacity-logo-r_50pct.jpg" alt="Adacity log" width="166" height="73" class="imright" />
        <h3 align="justify"> Multimedia, Scientific</h3>
        <p align="left" class="style12">Chapel Hill Pediatric Speech Pathology helps children develop the skills necessary for effective communication using qualitative and quantitative assessment methods to analyze and diagnose the nature of the communication impairment. Their quantitative
            methods often employ audio analysis and transcription. Our client was spending hours hitting rewind &amp; play on a tape recorder.</p>
        <p class="style12">We proposed upgrading to digital recording and editing tools. After a review the available audio recording and transcription software, we developed a simple solution using Audacity (link) for audio recording and audio/video playback. We researched
            microphones and webcams to find the most suitable and cost effective. As necessary, we provided oversight of software/hardware installation, and instruction in new editing techniques.</p>
        <p class="style13">White Oak IT provides complete end-to-end solutions: </p>
        <p class="style12">Hardware -&gt; Software -&gt; Solution Development -&gt; Installation -&gt; Training</p>
    </div>



    <div class="biztype" id="eBusiness">

        <img src="static/images/images-1.jpeg" width="130" height="94" class="imright" />
        <img src="static/images/images.jpeg" class="imright" />
        <h3>eBusiness</h3>

        <p class="style12">Songwriter Stephen Smith began composing music to Hazrat Inayat Khan's poetry in the late seventies. We built a <a href="http://www.everysoundihear.com/" target="_blank">site</a> to sell his new CD &quot;Every Sound I Hear.&quot; The site interfaces
            with PayPal.</p>
        <p class="style12">This low-cost site was designed in a simple manner, to facilitate Stephen maintaining it himself.</p>
    </div>


    <div class="biztype" id="WaterWorld">

        <img src="static/images/david.jpg" alt="David @ WW" width="161" height="136" class="imright" />
        <h3>Business Consulting - streamlining, reducing costs</h3>
        <p class="style12">Water World is the Triangle's headquarters for boating, marina, and scuba diving needs. They are the largest dive shop in North Carolina providing a instructions, local and Caribbean trips, and dive travel. The folks at Water World are computer
            savvy; they maintain their own dynamic <a href="http://www.waterworldinc.com/" target="_blank">website</a> supporting boat sales and scuba classes.</p>
        <p class="style12">What we did: streamlined processes, upgraded mail and website service, recommended new hardware, installed and configured new hardware, and recovered lost data.</p>
    </div>


</div>
<!-- end #container -->
{% endblock %}